/*----------Header----------*/
@font-face { font-family: 'MinionPro';src: url('../font/MinionPro-Regular.otf'); }

@font-face { font-family: 'Silom';src: url('../font/Silom.ttf'); }

@font-face { font-family: 'Thonburi';src: url('../font/Thonburi.ttc'); }


a {
  color: black;
  text-decoration-line: none;
}

p {
  color: white;
  font-family: "Thonburi";
  line-height: 17px;
  text-rendering:geometricPrecision;
  font-size: 13px;
}


.main-logo-img {
  background-image: url("../img/logo/Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30.3rem;
  height: 12.9rem;
  margin-left: 35%;
  margin-top: 10%;
}

button {
  border-style: none;
  height: 50px;
  font-size: 1.2rem;
  background-color: #3a89e8ff;
  color: white;
  font-family: "Thonburi", sans-serif;
}


body {
  background-color: #40a6ffff;
}
/*************************Navigation**************************/
.body {
  background-image: url("../img/ap_2017_15.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}


#navigation-main {
  position:relative;
  width: 30%;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.multi_1:hover .dropdown-content_1 {
  display: block;
}

.multi_2:hover .dropdown-content_2 {
  display: block;
}

.multi_3:hover .dropdown-content_3 {
  display: block;
}

.button_nav {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: #3a89e8ff;
  border-color: #3a89e8ff;
  border-style: outset;
  color:white;
  font-weight: bolder;
  display: inline-block;
}

.button_nav:hover {
  border-style: inset;
}

.button_sub {
  width: 100%;
}

.button_sub:hover {
  background-color: #40a6ffff;
}

.button_home {
  background-image: url("../img/icons/Home.png");
  background-size: cover;
  margin-left: 30%;
  height: 80px;
  width: 80px;
}

.button_kidsfam {
  background-image: url("../img/icons/KinderUJugendliche.png");
  background-size: cover;
  margin-left: 10%;
}

.button_jugend {
  background-image: url("../img/icons/Jugendliche.png");
  background-size: cover;
  margin-left: 45%;
}

.button_kidsgeb {
  background-image: url("../img/icons/KinderGeburtstag.png");
  background-size: cover;
  margin-left: 20%;
}

.button_cont {
  background-image: url("../img/icons/Kontakt.png");
  background-size: cover;
  margin-left: 35%;
}

.button_buch {
  background-image: url("../img/icons/Buchung.png");
  background-size: cover;
  margin-left: 60%;
}

.button_impre {
  background-image: url("../img/icons/Impressum.png");
  background-size: cover;
  margin-left: 15%;
  margin-top: -100px;
}
/*************************Body Page**************************/
#navigation-seccond {
  position:fixed;
  display: flex;
  height: 200px;
  background-image: url("../img/Menue.svg");
  background-size: cover;
  width: 600px;
  padding-top: 0.5%;
}

.logo-sec-left {
  float: right;
  position:fixed;
  margin-left: 50%;
  width: 50%;
  background-image: url("../img/Menue_left.svg");
  background-size: cover;
}

.logo-sec-left-graf {
  width: 40%;
  float: right;
}

.button_home_body {
  background-image: url("../img/icons/Home.png");
  background-size: cover;
}

.button_kidsfam_body {
  background-image: url("../img/icons/KinderUJugendliche.png");
  background-size: cover;
}

.button_jugend_body {
  background-image: url("../img/icons/Jugendliche.png");
  background-size: cover;
}

.button_kidsgeb_body {
  background-image: url("../img/icons/KinderGeburtstag.png");
  background-size: cover;
}

.button_cont_body {
  background-image: url("../img/icons/Kontakt.png");
  background-size: cover;
}

.button_buch_body {
  background-image: url("../img/icons/Buchung.png");
  background-size: cover;
}

.button_impre_body {
  background-image: url("../img/icons/Impressum.png");
  background-size: cover;
}

/**************************content****************************/

.page {
  width: 1920px;
  height: 1080px;
  display: flex;
}

.c_main {
  width: 300px;
  height: 430px;
  margin-left: 3%;
  position:static;
  background-color: #683ae8ff;
  border-radius: 15%;
  padding: 2%;
  margin-top: 12%;

}


.c_side {
  width: 300px;
  height: 650px;
  margin-left: 3%;
  position:static;
  background-color: #a640ffff;
  border-radius: 15%;
  padding: 2%;
  line-height: 10px;
}

.c_side h2 {
  line-height: 17px;
}

.title_page {
  color: white;
  font-size: 50px;
  margin-left: 43%;
  margin-top: 3%;
  position: absolute;
  text-decoration-style: solid;
  text-decoration-line: underline;
}

/**********************Page_HOME*********************/
#home {
  background-color: none;
  background-image: url("../img/ap_2017_05.JPG");
  background-size: cover;
}

.img_smal {
  width: 130px;
  border-radius: 15%;
}

.home_text_side {
  width: 300px;
  height: 690px;
  margin-left: 3%;
  position:static;
  background-color: #a640ffff;
  border-radius: 15%;
  padding: 2%;
  margin-top: 200px;
  line-height: 10px;
}

.img_smal_body {
  width: 170px;
  height: 240px;
  border-radius: 15%;
  padding: 20px;
}

.home_text_1 {
  height: 350px;
  margin-left: 60px;
}

.home_text_1 b {
  font-size: 15px;
}

.home_text_2 {
  position: static;
  margin-left: -100px;
}

.home_text_3 {
  width: 400px;
  height: 120px;
  padding: 25px;
  position: absolute;
  margin-top: 700px;
  margin-left: 600px;
}
/**********************Page_KINDERUNDFAMILIEN*********************/



.kidsfam_text_1 {
  width: 700px;
  display: flex;
  background-color: #683ae8ff;
  border-style: solid;
  border-color: #a640ffff;
  border-width: 20px;
  overflow: hidden;
}

.kidsfam_tour_1 {
  background-color: #4d4fffff;
  display: flex;
  width:300px;
  padding: 5%;
  border-radius:20%;
  margin: 4px;
}

.kidsfam_tour_1 p {
  font-size: 11px;
  line-height: 12px;
}

.kidsfam_tour_1 img {
  width: 120px;
  height: 200px;
  border-radius:30%;
}

.kidsfam_tour_2 {
  background-color: #4d4fffff;
  display: flex;
  width:300px;
  padding: 5%;
  border-radius:20%;
  margin: 4px;
}

.kidsfam_tour_2 p {
  font-size: 11px;
  line-height: 12px;
}

.kidsfam_tour_2 img {
  width: 120px;
  height: 200px;
  border-radius:30%;
}

.kidsfam_text_2 {
  width: 500px;
  height: 600px;
  padding: 40px;
}

.kidsfam_text_2 p {
  font-size: 19px;
  line-height:21px;
}

/**********************Page_Gruseltour*********************/
.gruseltour_text_1 {
  width: 800px;
  height: 550px;
  padding: 3%;
  margin-top: 200px;
  border-radius:10%;
  overflow: hidden;
}

.gruseltour_text_2 {
  width: 600px;
  height: 400px;
  padding: 3%;
}

.karte_hamburg {
  width: 500px;
  height: 300px;
  border-radius: 10%;
}

#gruseltour {
  background-image: url("../img/ap_2017_10.jpg");
  background-size: cover;
}
/**********************Page_Formular*********************/

.formular {
 display:flex;
 margin-top: 100px;
 margin-left: 7%;
}


.form_part_1 {
  width: 500px;
  margin: 5%;
  position:relative;
}

.form_part_2 {
  width: 500px;
  margin: 5%;
}

#InputMessage {
  height: 250px;
}

.submit {
  position: absolute;
  margin-top:500px;
  margin-left: 500px;
  width: 150px;
}

label {
  color: white;
  font-family: Silom;
}

/**************************Footer****************************/
.footer {
  background-color: #3a89e8ff;
  position: fixed;
  height:4%;
  padding: -0px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-color: #683ae8ff;
  border-top-style: solid;
  padding: 3px;
  align-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.items {
  margin-top: 10px;
  width: 200px;
  align-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
